[submodule "aws-iot-device-sdk-embedded-C"]
	branch = release-v3.1.x
	fetchRecurseSubmodules = true
	path = aws-iot-device-sdk-embedded-C
	url = https://github.com/bdpdx/aws-iot-device-sdk-embedded-C.git
